<div class="sidebar">
<h3>科目設定</h3>
<ul class="sidebar-list">
	<li class="sidebar-item"><%= link_to "収入科目設定", :incomes %></li>
	<li class="sidebar-item"><%= link_to "固定費科目設定", :fixedcosts %></li>
	<li class="sidebar-item"><%= link_to "変動費科目設定", :variablecosts %></li>
</ul>

<h3>収支登録</h3>
<ul class="sidebar-list">
	<li class="sidebar-item"><%= link_to "収入金額登録", :income_values %></li>
	<li class="sidebar-item"><%= link_to "固定費金額登録", :fixedcost_values %></li>
	<li class="sidebar-item"><%= link_to "変動費金額登録", :variablecost_values %></li>
</ul>
<%= link_to "ログアウト", logout_path, method: :delete %>
</div>

